# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environments
env/
venv/
ENV/
.venv/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# IDE/editor directories
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Pytest
.cache

# Mypy
.mypy_cache/

# Python testing
*.coverage
.coverage.*
nosetests.xml
coverage.xml
*.hypothesis/

# Jupyter Notebooks
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# tox
tox.ini

# mypy
.mypy_cache/
.dmypy.json
.dmypy.json.?

# Pylint
pylint-report.txt
pylint-output.txt

# VS Code
.vscode/

